*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.Grid-container{
    justify-content: center;
    display: grid;
    grid-template-columns:repeat(10, 70px);
    grid-template-rows: repeat(8, 70px);
    grid-auto-rows: 200px;
    grid-gap:5px;
    
}
.container-1{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(113, 113, 113);
    border-radius: 50px;
    border-color: rgb(113, 113, 113);
    text-align: center;
}
.container-2{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-3{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-4{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(48, 126, 0);
 border-radius: 50px;
 border-color:  rgb(48, 126, 0);
 text-align: center;
}
.container-5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-6{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-7{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-8{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(48, 126, 0);
    border-radius: 50px;
    border-color:  rgb(48, 126, 0);
    text-align: center;
}
.container-9{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-10{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-11{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-12{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(48, 126, 0);
    border-radius: 50px;
    border-color:  rgb(48, 126, 0);
    text-align: center;
}
.container-13{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: rgb(78, 190, 9);
    border-radius: 50px;
    border-color:  rgb(78, 190, 9);
    text-align: center;
    
}
.container-14{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: rgb(113, 113, 113);
 border-radius: 50px;
 border-color: rgb(113, 113, 113);
 text-align: center;
}
.container-15{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: rgb(78, 190, 9);
    border-radius: 50px;
    border-color:  rgb(78, 190, 9);
    text-align: center;
}
.container-16{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: rgb(78, 190, 9);
    border-radius: 50px;
    border-color:  rgb(78, 190, 9);
    text-align: center;
}
.container-17{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: rgb(255, 162, 0);
    border-radius: 50px;
    border-color:rgb(255, 162, 0) ;
    text-align: center;
}
#Display-bar{
    border: solid;
    border-color:   rgb(12, 12, 12);
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 5px;
    background-color: rgb(12, 12, 12); 
    color: white;
    font-size: 5rem
}
.container-1:hover, .container-2:hover, .container-3:hover, .container-5:hover, .container-6:hover, .container-7:hover, .container-9:hover, .container-10:hover, .container-11:hover, .container-14:hover{
background-color: rgb(65, 64, 64);
}
.container-4:hover,.container-12:hover, .container-8:hover {
    background-color: rgb(31, 77, 2);
}
.container-13:hover, .container-15:hover, .container-16:hover{
    background-color:  rgb(52, 125, 7);
}
.container-17:hover{
   background-color: rgb(209, 135, 7);
}
button{
    font-size: 30px;
    color: black
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');